.texto-menor {
    font-size: 13px;
}

.divs-facilidades {
    width: 325px;
}

.div-novidades {
    width: 325px;
}

.botao-lilas {
    background-color: #9353FF;
}

.verde-limao {
    color: #DAFF01;
}

.card {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.486);
    transition: box-shadow 0.3s ease; /* Adicionando transição para a propriedade box-shadow */
}

.card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.988); /* Alterando a sombra quando o mouse passa por cima */
}

@media(min-width: 768px) {
    .div-novidades {
        width: 696px;
    }
}
